.container {
  height: 30px;
  display: inline-block;
  background: #86d7ff;
  color: #2d2d2d;
  border-radius: 1em 0 0 1em;
  border: 1px solid lightgrey;
}

.container > * {
  max-height: 100%;
  vertical-align: middle;
}

.icon {
  height: 100%;
  margin-right: 5px;
}

.title {
  font-size: 16px;
  margin-right: 8px;
}

.radioBtn {
  height: 100%;
  max-height: 100%;
  min-width: 40px;
  text-align: center;
  display: inline-block;
  background: white;
  cursor: pointer;
  color: black;
  user-select: none;
}

.radioBtn:hover {
  color: grey;
}

.radioBtn.active {
  background-color: #3b84c4;
  box-shadow: inset 0 1px 10px hsla(0,0%,4%,.43);
  color: #fff;
}

.radioBtn span {
  padding: 8px;
  display: inline-block;
  font-size: 12px;
}