.fact {
  display: block;
}

.fact:not(:last-child) {
  border-bottom: 0.05em solid #353535;
}

.sourceSection {
  min-height: 2em;
  padding: 0.1em;
}

.scoreTag {
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: bold;
  color: #cec8c8;
  background: rgba(53, 53, 53, 0.5);
  padding: 0.4em 0.5em;
  margin: 0.2em;
  border-radius: 4px;
  float: right;
}

.scoreTag span, .scoreTag img {
  vertical-align: middle;
}

.scoreTag img {
  height: 0.8em;
}

.userSection {
  background-color: #797979;
  width: 100%;
}

.userSection > div {
  font-size: 0.8em;
  padding: 0.5em 0.4em;
  display: flex;
}

.userSection img {
  height: 24px;
}

.userSection .right {
  padding-left: 0.4em;
}

.anonymous {
  color: #dedede;
  font-weight: bold;
  margin-right: 0.5em;
}

.userCommentText {
  font-style: italic;
  color: #dadada;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
}

/* Approving facts */

.approvingFact > .sourceSection {
  background-color: #63a04f;
}

.approvingFact > .userSection {
  background-color: #5d8449;
}

/* Refuting facts */

.refutingFact > .sourceSection {
  background-color: #c24b52;
}

.refutingFact > .userSection {
  background-color: #8a2b38;
}

/* Regular fact */

.regularFact > .sourceSection {
  background: #8c8c8c;
}
