.cfbutton {
  font-size: 1em;
  height: 2.75em;
  min-width: 40px;
  max-width: 60px;
  min-height: 40px;
  max-height: 60px;
  position: absolute;
  right: 1.7em;
  top: 3.5em;
  z-index: 29;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60);
  border-radius: 2em;
  display: block;
}

.cfbutton.hidden {
  display: none;
}

.cfbutton:hover {
  transform: scale(1.1);
}

.cfbutton:not(.pulse):not(:hover) {
  opacity: 0.4;
}

.pulse:not(:hover) {
  animation-name: pulse;
  animation-duration: 3000ms;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0%    { transform: rotate(0deg)   scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
  10%   { transform: rotate(0deg)   scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
  14%   { transform: rotate(-10deg) scale(1.4); box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.60); }
  20%   { transform: rotate(10deg)  scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
  23%   { transform: rotate(5deg)   scale(1.2); box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.60); }
  26%   { transform: rotate(0deg)   scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
  100%  { transform: rotate(0deg)   scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
}