.cfbutton {
  font-size: 13px;
  position: absolute;
  right: 1.7em;
  top: 4.2em;
  z-index: 29;
  height: 2.5em;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60);
  border-radius: 2em;
  display: block;
}

.cfbutton.hidden {
  display: none;
}

.cfbutton:hover {
  transform: scale(1.1);
}

.pulse:not(:hover) {
  animation-name: pulse;
  animation-duration: 3000ms;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60);
  }
  10% {
    transform: scale(1);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60);
  }
  14% {
    transform: scale(1.4);
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.60);
  }
  20% {
    transform: scale(1);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60);
  }
  2% {
    transform: scale(1);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60);
  }
  23% {
    transform: scale(1.2);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.60);
  }
  26% {
    transform: scale(1);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60);
  }
  100% {
    transform: scale(1);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60);
  }
}